@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-color: #3f3f3f;
}

section {
  @apply w-11/12 max-w-2xl p-4 rounded-xl m-12 mx-auto bg-white;
}

label {
  @apply font-bold mb-2 block;
}

input {
  @apply block font-bold mb-4 p-2
  rounded-md border border-solid w-full min-w-full 
  focus:outline-none focus:bg-blue-100;
}

button {
  @apply px-6 py-2 rounded-md border-none text-white bg-blue-500 hover:bg-blue-600 active:bg-blue-700 disabled:bg-slate-200 disabled:text-slate-700;
}

.form-control {
  margin-bottom: 1rem;
}
